<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css', v='1.0') }}">
    </head>
    <body>
        <header>
            <h1 class="title">Welcome to CricDocs!</h1>
            <h2> We help coaches spend more time on the fun stuff of coaching</h2>
            <nav>
                <a href="/generate/cricket/match_report/team-sheet">Match Report generator</a>
                <a href="/generate/cricket/session_planner">Session Plan generator</a>
            </nav>
        </header>
        <main>
            <p></p>
        </main>
        <footer>

        </footer>
    </body>
</html>