<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cricket Youth Match Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <script src="{{ url_for('static', filename='/js/form-handler.js') }}" defer></script>
</head>

<body>
<h1>Cricket Match Report -- Main Details</h1>

<form action="/generate/cricket/match_report/main-details" method="post" id="matchForm"> 
    <label for="club">Which club is this for?</label>
    <input type="text" id="club" name="club" required>

    <label for="gender">Which gender group were playing?</label>
    <select id="gender" name="gender" required>
        <option value="Boys">Boys</option>
        <option value="Girls">Girls</option>
        <option value="Mixed">Mixed</option>
    </select>

    <label for="team">Which age group was playing?</label>
    <select id="team" name="team" required>
        <option value="u11">u11</option>
        <option value="u13">u13</option>
        <option value="u15">u15</option>
        <option value="u17">u17</option>
        <option value="u19">u19</option>
    </select>

    <label for="opposition">Which club was the team playing against?</label>
    <input type="text" id="opposition" name="opposition" required>

    <label for="venue">Was this game at Home or Away?</label>
    <select id="venue" name="venue">
        <option value="Home">Home</option>
        <option value="Away">Away</option>
    </select>

    <label for="victor">Did we win?</label>
    <select id="victor" name="victor" required>
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>

    <label for="endState">Did the winning team bat or bowl first?</label>
    <select id="endState" name="endState" required>
        <option value="bat">Bat</option>
        <option value="bowl">Bowl</option>
    </select>

    <label for="margin">How many runs/wickets did the winners win by?</label>
    <input type="number" id="margin" name="margin" min="1" required>

    <label for="date">What date was the match played at?</label>
    <input type="date" id="date" name="date" required>

    <label for="book">Where can people find the scorebook? (insert the link if there is one)</label>
    <input type="url" id="book" name="book">

    <button type="submit">Submit Section</button>
</form>
</body>
</html>
