<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cricket Match Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <script src="{{ url_for('static', filename='/js/form-handler.js') }}" defer></script>
</head>

<body>
<h1>Cricket Match Report -- Match Stats</h1>
<form action="/generate/cricket/match_report/stats" method="post" id="matchForm">
    <label for="bBatter">Who was the best batter?</label>
    <input type="text" id="bBatter" name="bBatter" required>

    <label for="batStats">How many runs did they score?</label>
    <input type="text" id="batStats" name="batStats" required>

    <label for="bBowler">Who was the best bowler?</label>
    <input type="text" id="bBowler" name="bBowler" required>

    <label for="bowlStats">What were their bowling figures?</label>
    <input type="text" id="bowlStats" name="bowlStats" required>

    <label for="mCatches">Who took the most catches?</label>
    <input type="text" id="mCatches" name="mCatches">

    <label for="catchStats">How many catches did they take?</label>
    <input type="text" id="catchStats" name="catchStats">

    <label for="mRunouts">Who got the most runouts?</label>
    <input type="text" id="mRunouts" name="mRunouts">

    <label for="nRunouts">How many runouts did they get?</label>
    <input type="text" id="nRunouts" name="nRunouts">

    <label for="bestPlayer">Who was the player of the Match?</label>
    <input type="text" id="bestPlayer" name="bestPlayer">

    <label for="bestStats">What was their main statistic(s) that stood out?</label>
    <input type="text" id="bestStats" name="bestStats">

    <button type="submit">Submit Section</button>
</form>
</body>
</html>