<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cricket Match Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
</head>

<body>
<h1>Cricket Match Report</h1>
<form action="/generate/cricket/match_report/mentions" method="post">
    <label for="goodPlayer">Who did really well in the field today?</label>
    <select name="goodPlayer" id="goodPlayer">
        {% for player in teamSheet %}
            <option value="{{ player }}">{{ player }}</option>
        {% endfor %}
    </select>

    <label for="goodStats">What part of their game do you think makes them worthy of this?</label>
    <textarea id="goodStat" name="goodStat"></textarea>

    <button type="submit">Submit Player</button>
    <a href="/generate/cricket/match_report/signoff">Go to next section</a>
</form>
</body>
</html>