<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cricket Match Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css?v=1.0') }}">
</head>

<body>
<h1>Cricket Match Report</h1>
<form action="/generate/cricket/match_report/team-sheet" method="post">
    <label for="goodPlayer">Who is playing in the team? </label>
    <input type="text" id="player" name="player"></input>

    <button type="submit">Submit Player</button>
    <a href="/generate/cricket/match_report/main-details">Go to next section</a>
</form>
<h4>Team Sheet</h4>
<ul>
    {% for player in teamSheet %}
    <li>
        {{ player }}
        <form action="/generate/cricket/match_report/remove-player" method="post" style="display:inline;">
            <input type="hidden" name="player_to_remove" value="{{ player }}">
            <button class="remover" type="submit">Remove</button>
        </form>
    </li>
    {% endfor %}
</ul>
</body>
</html>